/* .app-intro {
  position: absolute;
  height: 0px;
  width: 735px;
  margin: auto;
  right: 25%;
  top: 25%;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
} */
.app-intro {
  color: white;
  position: absolute;
  height: 50px;
  width: 50%;
  margin: auto;
  right: 25%;
  top: 25%;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
}
.landing-title {
  background: linear-gradient(45deg, #0f0d2f, #24101f);
  height: 100vh;
}
#slogan {
  margin-top: 50px;
}

#connect-button {
  color: black;
  margin-top: 200px;
}
.particlesHider {
  height: 100vh;
}
@media only screen and (max-width: 1050px) {
  .fontIcons {
    display: none;
  }
}
@media only screen and (max-width: 375px) {
  #free-trial-button {
    font-size: 0.7rem;
  }
  .features {
    height: 566px;
  }
  .rows {
    text-align: center;
  }
  .contact-small-text {
    font-size: 16px;
    line-height: 55px;
  }
}
