#FeatureTwo-Background {
  padding: 20px;
  background: #0f0d2f;
  height: 350px;
  color: white;
  text-align: center;
  padding-top: 3%;
}

#Features-Picture-Two {
  margin-top: 40px;
  height: 70vh;
  width: 110vh;
}

.center-align {
  color: black;
}

.features {
  height: 700px;
  width: 75%;
  margin: auto;
}
.features {
  height: 700px;
  width: 75%;
  margin: auto;
}
.rows {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}
@media only screen and (max-width: 425px) {
  .features {
    width: 95%;
  }
  .rows {
    font-size: 12px;
  }
}
