.explore-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
}
.header-explore {
  padding-top: 10vh;
  font-size: 2rem;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.30357em;
  margin-left: -0.02em;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.87);
}
